body {
    .main__container {
        // Hero styles
        .hero {
            position: relative;
            width: 70%;
            height: 85vh;
            margin: auto;
            margin-top: 40px;

            #front-car {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 40%;
                img {
                    height: 70vh;
                }
            }

            .text {
                .qualities {
                    padding-top: 60px;
                    ul {
                        list-style: none;
                        li {
                            color: white;
                            font-size: 25px;
                            font-weight: 300;

                            &:nth-child(1) {
                                color: white;
                                font-size: 30px;
                                font-weight: 400;
                            }
                        }
                        .line.vertical {
                            height: 70px;
                            margin: 20px 0;
                            border-left: 1px solid white;
                        }
                        .line.horizontal {
                            width: 50px;
                            margin: 20px 0;
                            border-bottom: 1px solid white;
                        }
                    }
                }

                .slogan {
                    z-index: 1;
                    margin-top: 60px;
                    p {
                        color: white;
                        font-size: 60px;
                        font-weight: 700;
                    }
                }

                .analytics {
                    position: absolute;
                    left: 10%;
                    bottom: 0;
                    height: 10vh;

                    display: flex;
                    flex-direction: row;
                    gap: 70%;

                    div {
                        .number {
                            color: white;
                            font-weight: 700;
                            font-size: 25px;
                        }
                        .label {
                            margin-top: 5px;
                            color: white;
                        }
                    }
                }
            }

            .upcoming-cars {
                position: absolute;
                top: 0;
                right: 0;

                width: 20%;

                h2 {
                    color: white;
                    font-size: 25px;
                    text-align: right;
                    margin-bottom: 20px;
                } 

                .car {
                    width: 100%;
                    margin-bottom: 10px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        max-height: 130px;
                        object-fit: cover;
                        transition: ease .3s;
                    }

                    &:hover {
                        img {
                            max-height: 140px;
                            filter: brightness(200%);
                        } 
                    }
                }
            }

            #video-box {
                position: absolute;
                bottom: 5%;
                right: 0;

                width: 550px;
                height: 200px;
                padding: 5px;

                z-index: 2;
                background-color: white;

                display: flex;
                flex-direction: row;
                align-items: center;

                video {
                    max-height: 100%;
                }
                p {
                    display: inline-block;
                    font-size: 14px;
                    margin-left: 10px;
                    line-height: 24px;
                }
            }
        }

    }
}
