@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --foreground-bg: #6268B1;
}

@import "./header";
@import "./line_decorators";
@import "./hero";
@import "./about";
@import "./contact";
@import "./footer";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;

    .main__container {
        width: 100vw;
        overflow: hidden;

        hr {
            width: 70%;
            border: 1px solid white;
            margin: 60px auto;
        }
        

    }
}
